.main{
 background: rgb(33,37,41); 
 
}
.button{
    background-color: transparent;
    border: none;
    color:var(--orange);
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
    border: 2px solid var(--orange);
    position: relative; 
    z-index: 1;
  }
  .button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--orange);
    z-index: -1;
    transition: transform 200ms ease-out;
    transform: scaleX(0);
    transform-origin: left;
  
  }
  .button:hover::before{
    
      transform: scaleX(1);
    }
    .button:hover{
      
      color: white;
  }
  
    
